body{margin:0; border:0; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
img{border:0; vertical-align:middle}
.ClearFloat{clear:both}

/*Banner css Start*/
#BannerTopBgContainer{background-color:#c2d2d5; height:118px}
#BannerMainContainer{width:982px; margin:0px auto;}
.LogoContainer{float:left; width:398px; height:26px;  padding-top:23px}
.WelcomeUserContainer{float:right; background:url(../images/WelcomeUserBg.gif) no-repeat; width:359px; height:35px; margin-top:20px}
.UserNameContainer{font-size:13px; color:#111111; font-weight:bold; float:left; margin:10px 0 0 11px; width: 146px; letter-spacing:-.10em; font-stretch:expanded}
.MyAccountContainer{font-size:13px; color:#400095; font-weight:bold; float:left; margin:10px 0 0 9px; letter-spacing:-.10em; width:100px}
.CartTextContainer{font-size:11px; color:#333333; font-weight:bold; float:left; margin:10px 0 0 9px; }
#MainNavigationContainer{background:url(../images/MainNavBg.gif) no-repeat; width:982px; height:41px; margin-top:14px}
/*#TopNavMainContainer{text-align:center; width:90%; margin:0px auto;}*/
.TopNavLinkContainer{text-align:center; width:730px; padding:10px 0 0 15px}
.TopNav_Link{width:730px;}
.TopNav_Link ul {padding:0; margin:0px;}
.TopNav_Link li{list-style-type:none; float:left; text-align:center; padding-right:1px}
a.TopNavLink:link, a.TopNavLink:visited{color:#111111; text-decoration:none; font-weight:bold; line-height:22px; padding:10px 2px 0px 0px;  text-transform:uppercase; font:Rock Sans; font-size:13px}
a.TopNavLink:hover{color:#979797; text-decoration:none; font-weight:bold; line-height:22px; padding:10px 2px 0px 0px; text-transform:uppercase; font:Rock Sans; font-size:13px}
.TopNavDivider{padding:0px 0px 0px 24px; background:url(../images/TopNavDividerLine.gif) no-repeat; width:2px; height:22px; text-align:center; margin:0 0 0 22px}
.TopNavArrow{float:left; width:7px; text-align:left; margin:3px 0 0 0}
/*Banner css end*/
 
/*Inner white box css Start*/
#InnerMainContainer{width:1153px; margin:0px auto;}
.InnerTopCurveContainer{background:url(../images/InnerTopCurveBg.jpg) no-repeat; height:22px; width:1153px}
.InnerMidBgContainer{background:url(../images/InnerMidBg.jpg) repeat-y}
.InnerBotCurveContainer{background:url(../images/InnerBotCurveBg.jpg) no-repeat; height:37px; width:1153px}
/*Inner white box css end*/


/*Footer css start*/
.BottomFooterContainer{width:825px; margin:0px auto;}
.BotFooterLinkContainer{text-align:center; width:100%; margin:0px auto;}
.Footer_BotLink{width:100%;}
.Footer_BotLink ul {padding:0; margin:0px;}
.Footer_BotLink li{list-style-type:none; float:left; text-align:center; padding-right:1px}
a.FooterLink:link, a.FooterLink:visited{color:#400095; text-decoration:none; font-size:10px;  font-weight:normal; line-height:22px; padding:5px 2px 0px 0px;  text-transform:uppercase}
a.FooterLink:hover{color:#979797; text-decoration:none; font-size:10px; font-weight:normal; line-height:22px; padding:5px 2px 0px 0px; text-transform:uppercase}
.FooterDivider{color:#979797; font-size:6px; padding:8px 0px 0px 0px; width:36px;}
.CopyRightContainer{margin:0px auto; width:120px; font-size:10px; text-transform:uppercase; color:#979797; margin-top:6px}
/*Footer css end*/

/*Registration css start*/
#InnerContentMainContainer{width:936px; margin:0px auto;}
.InnerPageTitle{font:Rock Sans; font-size:26px; color:#00aeef; font-weight:bold; padding:3px 0 0 0}
.InnerHeaderDivLine{height:33px}
.InnerErrorMessageBox{background:url(../images/ErrorMessageBox.jpg) no-repeat; height:68px; width:747px; margin:0px auto}
.ErrorMessageContainer{margin:0px auto; width:444px; text-align:center; padding:15px 0 0 0}
.ErrorMessageText{font-weight:bold; font-size:24px; color:#ed1c24}
.ErrorMessageSubText{font-weight:normal; font-size:12px; color:#ed1c24}
.TextBoxFld{}
.SectionTitleText{font-weight:bold; font-size:18px; color:#111111; padding:16px 0 16px 0; width:707px; margin:0px auto}
.SectionTextSubDivLine{text-align:center}
.InnerSubFormContainer{width:707px; margin:0px auto;}
.InnerFormLeftContainer{float:left; width:333px;}
.InnerFormRightContainer{float:right; width:333px;}
.ErrorFieldText{font-weight:bold; font-size:11px; color:#ed1c24}
.ErrorFieldTextEmpt{height:13px}
.FieldText{font-weight:bold; font-size:12px; color:#111111; padding-bottom:3px}
.FieldTextStar{font-size:11px; color:#ed1c24}
.TextBoxLong{width:327px; height:23px; color:#111111; font-size:12px; font-weight:normal}
.TextBoxBig{width:701px; height:23px; color:#111111; font-size:12px; font-weight:normal}
.LineHight{height:32px; width:707px;}
.FieldTextSub{font-weight:normal; font-size:11px; color:#111111;}
.DropDownLong{width:333px; height:28px;  color:#111111; font-size:12px; font-weight:normal}
.TextBoxFldPhoneFaxSmall{float:left; width:61px;}
.TextBoxFldPhoneFaxLong{float:left; width:195px;}
.TextBoxPhonFaxSmall{width:50px; height:23px; color:#111111; font-size:12px; font-weight:normal}
.TextBoxPhonFaxLong{width:188px; height:23px; color:#111111; font-size:12px; font-weight:normal}
.LineHightBotForm{height:32px}
.InnerFormSingleContainer{width:100%;}
.InnerSubLftFldContainer{width:162px; float:left}
.InnerSubRgtFldContainer{width:168px; float:right}
.DropDownState{width:123px; height:28px;  color:#111111; font-size:12px; font-weight:normal}
.TextBoxZipSmall{width:162px; height:23px; color:#111111; font-size:12px; font-weight:normal}
.InnerRegiLeftContainer{float:left; width:333px}
.InnerRegiMidContainer{float:left; width:41px}
.InnerRegiRightContainer{float:left; width:333px}
.RegiEmpyHight{height:15px;}
.RegiInnerCheckStart{float:left; width:110px;}
.RegiInnerCheckMid{float:left; width:110px;}
.RegiInnerCheckEnd{float:left; width:112px;}
.InnerCheckLbl{float:left; width:23px}
.InnerCheckFld{float:left; width:87px; font-size:12px; font-weight:normal; color:#111111; padding-top:3px}
.InnerCheckHeight{height:8px}


/*Registration css end*/