<beans:beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	<beans:import resource="spring-app-context.xml" />
	

  	<security:http pattern="/login*" security="none" />
  	<security:http pattern="/resources**/**" security="none" />
	<!--  values -->
	 <security:http use-expressions="true" auto-config="true"  >
	 <security:form-login login-page="/login"  password-parameter="userloginpassword" username-parameter="userloginid" login-processing-url="/loginrequest"/> 

	 <security:logout logout-url="/logout"/>
	 <security:intercept-url pattern="/approval*" 	access="hasRole('ROLE_ADMIN')" />
	 <security:intercept-url pattern="/**" 		access="isAuthenticated()" />
	
	</security:http>
	
	<beans:bean id="http403ForbiddenEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />

  <!--  -->
   <security:authentication-manager alias="authenticationManager">
      <security:authentication-provider   user-service-ref='myUserDetailsService'/>
    </security:authentication-manager>
     

	<beans:bean id="myUserDetailsService"
      class="com.ffe.app.service.impl.UserServiceImpl">
    <beans:property name="userDao" ref="userDao"/>
  </beans:bean>

</beans:beans>