<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="spring-datasource-context.xml" />
	<import resource="spring-aop-context.xml" />
	<import resource="spring-dao-context.xml" />
	<import resource="spring-jbpm-context.xml" />


	<bean id="titleService"
		class="com.ffe.title.service.impl.TitleServiceImpl">
		<property name="titleDAO" ref="titleDAO" />
	</bean>
	
		<bean id="digitalcostservice"
		class="com.ffe.service.service.impl.DigitalCostsServiceImpl">
		<property name="digitalCostVendorDao" ref="digitalCostVendorDao" />
		<property name="digitalCostServiceDao" ref="digitalCostServiceDao" />
		<property name="digitalCostServiceTemplateDao" ref="digitalCostServiceTemplateDao" />	
	</bean>
	
		<bean id="estimateService"
		class="com.ffe.estimate.service.impl.EstimateServiceImpl">
		<property name="estimateDAO" ref="estimateDAO" />
		<property name="statfulknowsession" ref="ksession" />
		<property name="ffeHumanTaskService" ref="ffeHumanTaskService" />
	</bean>
	
		<bean id="ffeHumanTaskService" class="com.ffe.process.task.service.impl.FFEHumanTaskServiceImpl">
		<property name="taskSummaryResponseHandler" ref="taskSummaryResponseHandler" />
		<property name="taskOperationHandler" ref="taskOperationHandler" />
		<property name="taskResponseHandler" ref="taskResponseHandler" />
		<property name="taskContentResponseHandler" ref="taskContentResponseHandler" />
		<property name="taskClient" ref="taskClient" />
		</bean>
		
		<bean id="taskSummaryResponseHandler" class="org.jbpm.task.service.responsehandlers.BlockingTaskSummaryResponseHandler"/>
		<bean id="taskOperationHandler" class="org.jbpm.task.service.responsehandlers.BlockingTaskOperationResponseHandler"/>
		<bean id="taskResponseHandler" class="org.jbpm.task.service.responsehandlers.BlockingGetTaskResponseHandler"/>
		<bean id="taskContentResponseHandler" class="org.jbpm.task.service.responsehandlers.BlockingGetContentResponseHandler"/>
		
</beans>

